version: '3.8'

services:
  api:
    image: ejemplo-api:v1.0.0
    ports: 
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://admin:admin123@db:27017/admin
    depends_on:
      - db

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data: